# python specific
*.pyc
__pycache__

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

parallel-text/*
libgit2.js/*
js-scheme-stk/*
isicp/*
goodreads-wall/*
libs/*
random-projects/*
2048/*
static/PitchDetect/*
card.js/*

static/images/wayne2.gif

goodreads/DEV_KEY_SECRET
